<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
    <style>
        body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }
        katalog-preview {
            display: block;
            padding: 1rem;
            background-color: #f3f3f3;
            border: 1px lightgray solid;
        }
        blockquote {
            background-color: lightgray;
            margin: 0;
            padding: 0.5rem;
            border-left: 4px solid grey;
        }
        .katalog-container {
            display: grid;
            grid-template-columns: 16em 1fr;
            grid-template-rows: 8em 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "logo header"
                "nav content";
        }
        .katalog-logo {
            grid-area: logo;
            display: grid;
            place-items: center;
            border: 1px solid lightgrey;
        }
        .katalog-header {
            grid-area: header;
            background-color: #f02e65;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 1.5em;
        }
        .katalog-header h2,
        .katalog-header h1 {
            color: white;
            margin: 0;
        }
        .katalog-header h2 {
            color: white;
            opacity: 0.5;
        }
        .katalog-nav {
            grid-area: nav;
        }
        .close-nav,
        .open-nav {
            display:none;
        }
        @media (max-width: 640px) {
            .katalog-container {
                grid-template-columns: 1fr;
                height: 100vh;
                grid-template-rows: 1fr;
                gap: 0px 0px;
                grid-template-areas:
                    "logo"
                    "header"
                    "nav"
                    "content";
            }
            .katalog-logo {
                display: none;
            }
            .katalog-nav {
                height: 100vh;
                width: 100vw;
                position: absolute;
                background-color: white;
                display: none;
                z-index: 999;
            }
            .katalog-nav:target {
                display: block;
            }
            .katalog-header {
                height: 4rem;
            }
            .close-nav,
            .open-nav {
                display:initial;
                position: fixed;
                bottom: 0;
                right: 0;
                text-decoration: none;
                font-size: 3em;
            }
        }
        .katalog-content {
            grid-area: content;
            overflow: auto;
        }
        .katalog-content .katalog-content-inner {
            max-width: 64em;
            padding: 1.5rem;
        }
        .katalog-nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: sticky;
            top: 0;
            max-height: 100vh;
            overflow: auto;
        }
        .katalog-nav li strong {
            padding: 1rem .5rem;
        }
        .katalog-nav li a {
            display: block;
            color: #000;
            padding: .5rem;
            text-decoration: none;
        }
        .katalog-nav li a:hover,
        .katalog-nav [aria-current='page'] {
            background-color: #f02e65;
            color: white;
        }
        .katalog-footer {
            display: flex;
            justify-content: space-between;
        }
        .katalog-footer a {
            text-decoration: none;
            color: #f02e65;
        }
        .u-hide {
            display: none;
        }
    </style>
</head>

<body>
    <div class="katalog-container">
        <div class="katalog-logo">
            <a class="p-navigation__item" href="#">
                <img class="p-navigation__image"
                    src="/_assets/{{ logoSrc }}" alt="Canonical"
                    width="95" />
            </a>
        </div>
        <a href="#nav" class="open-nav">🍔</a>
        <div class="katalog-header">
            <h2>{{ title }}</h2>
            <h1>{{ currentPage.title }}</h1>
        </div>
        <div class="katalog-nav" id="nav">
            <a href="#" class="close-nav">╳</a>
            <ul>
                {% for page in pages %}
                    {% if page.pages %}
                    <li>
                        <strong>{{ page.title }}</strong>
                        <ul>
                            {% for sub in page.pages %}
                                <li>
                                    <a {% if sub.path == currentPage.path %}aria-current="page" href="#"{% else %} href="{{ sub.path }}"{% endif %}>{{ sub.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li>
                        <a {% if page.path == currentPage.path %}aria-current="page" href="#"{% else %} href="{{ page.path }}"{% endif %}>{{ page.title }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="katalog-content">
            <div class="katalog-content-inner">
            {{ body }}
                <hr>
                <footer class="katalog-footer">
                    {% if prevPage %}
                    <a href="{{ prevPage.path }}"><h3><- {{ prevPage.title }}</h3></a>
                    {% else %}
                    <span></span>
                    {% endif %}
                    {% if nextPage %}
                    <a href="{{ nextPage.path }}"><h3>{{ nextPage.title }} -></h3></a>
                    {% endif %}
                </footer>
            </div>
        </div>
    </div>
    <script>
        window.STYLESHEETS = [
            {% for style in stylesheets %}'{{ style }}',{% endfor %}
        ];
    </script>
    <script type="module" src="/_runtime/index.js"></script>
</body>
</html>