<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-3.1.0.min.css" />
    <title>{{ title }}</title>
    <style>
        katalog-preview {
            display: block;
            padding: 1rem;
            background-color: #f3f3f3;
            border: 1px lightgray solid;
        }
    </style>
</head>

<body>
    <header id="navigation" class="p-navigation is-dark">
        <div class="p-navigation__row">
            <div class="p-navigation__banner">
                <div class="p-navigation__logo">
                    <a class="p-navigation__item" href="#">
                        <img class="p-navigation__image"
                            src="https://appwrite.io/images/appwrite-footer-dark.svg" alt="Canonical"
                            width="95" />
                    </a>
                </div>
            </div>
            <nav class="p-navigation__nav" aria-label="Main navigation">
                <span class="u-off-screen">
                    <a href="#main-content">Jump to main content</a>
                </span>
            </nav>
        </div>
    </header>
    <section id="search-docs" class="p-strip--light is-shallow">
        <div class="row">
            <form id="search" class="p-search-box u-no-margin--bottom">
                <input 
                    list="ice-cream-flavors" 
                    type="search" 
                    class="p-search-box__input" 
                    name="q" 
                    placeholder="Search documentation" 
                    required=""
                    autocomplete="on" />
                <datalist id="ice-cream-flavors">
                    {% for page in pages %}
                        {% if page.pages %}
                            {% for sub in page.pages %}
                                <option value="{{sub.path}}" label="{{sub.title}}">
                            {% endfor %}
                        {% else %}
                            <option value="{{page.path}}" label="{{page.title}}">
                        {% endif %}
                    {% endfor %}
                </datalist>
                <button type="reset" class="p-search-box__reset" name="close">
                    <i class="p-icon--close">Close</i>
                </button>
                <button type="submit" class="p-search-box__button" name="submitSearch">
                    <i class="p-icon--search">Search</i>
                </button>
            </form>
        </div>
    </section>
    <div class="p-strip is-shallow">
        <div class="row">
            <aside class="col-3">
                <nav class="p-side-navigation--raw-html is-sticky" id="drawer" aria-label="Table of contents">
                    <a href="#drawer" class="p-side-navigation__toggle js-drawer-toggle" aria-controls="drawer">
                        Toggle side navigation
                    </a>

                    <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="drawer"></div>

                    <div class="p-side-navigation__drawer">
                        <div class="p-side-navigation__drawer-header">
                            <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle"
                                aria-controls="drawer">
                                Toggle side navigation
                            </a>
                        </div>
                        <h3>Side navigation</h3>
                        <ul>
                            {% for page in pages %}
                               {% if page.pages %}
                                <li>
                                    <strong>{{ page.title }}</strong>
                                    <ul>
                                        {% for sub in page.pages %}
                                            <li>
                                                <a {% if sub.path == currentPage %}aria-current="page" href="#"{% else %} href="{{ sub.path }}"{% endif %}>{{ sub.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                               {% else %}
                                <li>
                                    <a {% if page.path == currentPage %}aria-current="page" href="#"{% else %} href="{{ page.path }}"{% endif %}>{{ page.title }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </aside>
            <main class="col-9" id="main-content">{{ body }}</main>
        </div>
    </div>
    <script>
        window.STYLESHEETS = [
            {% for style in stylesheets %}'{{ style }}',{% endfor %}
        ];
    </script>
    <script type="module" src="/_runtime/index.js"></script>
</body>
</html>